@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-containerCl::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
.scroll-containerCl {
  scrollbar-width: none; /* Firefox */
}

.carousel-container {
  height: calc(100vh - 170px);
  margin-top: 170px;
}
.myModalSwiper.swiper{
  position: static !important;
}

.mySwiper .swiper-slide{
filter: brightness(60%) !important;
}

.mySwiper .swiper-slide-thumb-active{
  filter: brightness(100%) !important;
  }

.myModalSwiper .swiper-button-next{
  right: 1% !important;
  color: #fff !important;
  top: 105% !important;
}

@media screen and (min-width: 640px){
  .myModalSwiper .swiper-button-next{
  top: 50% !important;
  right: -8% !important; 
  }
}

.myModalSwiper .swiper-button-prev{
  left: 1% !important;
  color: #fff !important;
  top: 105% !important;
}

@media screen and (min-width: 640px) {
  .myModalSwiper .swiper-button-prev{
  top: 50% !important;
  left: -8% !important;
} 
}

.swiper-button-next,
.swiper-button-prev {
  color: #fff !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: rgb(88, 29, 34) !important;
}

.swiper-slide-thumb-active {
  opacity: 1 !important;
  border: 2px solid #3b82f6 !important;
  border-radius: 7px;
}

@layer base {
  ol ::marker {
    color: rgb(88, 29, 34);
  }
}

@layer components {
  .pageCl {
    @apply xl:pt-48 pt-9;
  }
  .sectionCl {
    @apply xl:pt-16 pt-9;
  }

  .mainTitleCl {
    @apply xl:text-5xl font-semibold font-roboto xl:leading-tight tracking-wider;
  }

  .titleCl {
    @apply xl:text-2xl lg:text-xl font-bold font-roboto text-center;
  }

  .subTitleCl {
    @apply xl:text-xl lg:text-lg font-semibold font-roboto uppercase;
  }

  .linkToPageCl {
    @apply flex items-center justify-center px-3 py-2 max-w-40 w-full text-white bg-customMarsala rounded-md transition-all hover:bg-customMarsala-accent;
  }

  .langBtnCl {
    @apply transition-all duration-300 px-4 py-2 w-24 h-14 flex text-white items-center justify-between rounded-md hover:bg-customMarsala-accent hover:text-white;
  }

  .inputsCl {
    @apply w-full py-3 px-4 border-2 border-solid border-customElement rounded-md outline-none placeholder:text-customElement focus:border-customMarsala focus:shadow-[0px_6px_8px_rgba(109,58,62,0.33)] cursor-pointer transition-all;
  }
  .errorWrapperCl {
    @apply flex items-center h-8 pt-2 pb-4 px-5 text-s leading-5 text-customMarsala;
  }
  .checkboxCl {
    @apply sr-only;
  }
  .labelCheckCl {
    @apply flex items-center mb-8 text-xs cursor-pointer;
  }
  .iconCheckWrapCl {
    @apply flex justify-center items-center mr-4 w-7 h-6 text-white bg-white border border-solid border-customMarsala rounded-md shadow-[0px_6px_8px_rgba(109,58,62,0.33)] cursor-pointer transition-all group-hover:border-customMarsala-accent group-focus:border-customMarsala-accent;
  }
  .iconCheckCl {
    @apply inline-block w-5 h-5  transition-all;
  }
}

@layer utilities {
  .peer:checked + .labelCheckCl .iconCheckWrapCl {
    @apply bg-customMarsala-accent border-customMarsala
    shadow-none;
  }
}

/* .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 1000;
} */

/* .no-scroll {
  overflow: hidden;
} */
