@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes flipInYCard {
  0% {
    transform: rotateY(-180deg);
    opacity: 0;
    scale: 0.5;
  }

  40% {
    transform: rotateY(60deg);
    opacity: 1;
    scale: 1;
  }

  60% {
    transform: rotateY(-30deg);
    opacity: 1;
    scale: 1;
  }

  80% {
    transform: rotateY(20deg);
    opacity: 1;
    scale: 1;
  }

  100% {
    transform: rotateY(0deg);
    opacity: 1;
    scale: 1;
  }
}

@keyframes zoomInLine {
  0% {
    transform: scaleX(3.5);
    opacity: 0;
  }

  50% {
    transform: scaleX(0.5);
    opacity: 1;
  }

  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes submenuEnter {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes submenuLeave {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

.animate-submenu-enter {
  animation: submenuEnter 0.5s ease-in-out forwards;
}

.animate-submenu-leave {
  animation: submenuLeave 0.5s ease-in-out forwards;
}

.scroll-containerCl::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera*/
}

.scroll-containerCl {
  scrollbar-width: none;
  /* Firefox */
}

.carousel-container {
  height: calc(100vh - 64px);
  margin-top: 64px;
}

@media screen and (min-width: 1024px) {
  .carousel-container {
    height: calc(100vh - 192px);
    margin-top: 192px;
  }
}

canvas {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.myModalSwiper.swiper {
  position: static !important;
}

.mySwiper .swiper-slide {
  filter: brightness(60%) !important;
}

.mySwiper .swiper-slide-thumb-active {
  filter: brightness(100%) !important;
}

.myModalSwiper .swiper-button-prev:after,
.myModalSwiper .swiper-button-next:after {
  font-size: 28px !important;
}

@media screen and (min-width: 640px) {
  .myModalSwiper .swiper-button-prev:after,
  .swiper-button-next:after {
    font-size: 44px !important;
  }
}

.myModalSwiper .swiper-button-next {
  right: -6% !important;
  color: #fff !important;
  top: calc(107% + env(safe-area-inset-bottom)) !important;
}

@media screen and (min-width: 640px) {
  .myModalSwiper .swiper-button-next {
    top: 50% !important;
    right: -9% !important;
  }
}

.myModalSwiper .swiper-button-prev {
  left: -6% !important;
  color: #fff !important;
  top: calc(107% + env(safe-area-inset-bottom)) !important;
}

@media screen and (min-width: 640px) {
  .myModalSwiper .swiper-button-prev {
    top: 50% !important;
    left: -9% !important;
  }
}

.swiper-button-next,
.swiper-button-prev {
  color: #fff !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: rgb(88, 29, 34) !important;
}

.swiper-slide-thumb-active {
  opacity: 1 !important;
  border: 2px solid #3b82f6 !important;
  border-radius: 7px;
}

@layer base {
  ol ::marker {
    color: rgb(88, 29, 34);
  }
}

@layer components {
  .pageCl {
    @apply pt-10 lg:pt-44 xl:pt-48;
  }

  .sectionCl {
    @apply pt-6 sm:pt-9 xl:pt-16;
  }

  .mainTitleCl {
    @apply xl:text-5xl font-semibold font-roboto xl:leading-tight tracking-wider;
  }

  .titleCl {
    @apply xl:text-2xl lg:text-xl font-bold font-roboto text-center;
  }

  .subTitleCl {
    @apply xl:text-xl lg:text-lg font-semibold font-roboto uppercase max-sm:text-center;
  }

  /* .linkToPageCl {
    @apply flex items-center justify-center px-2 py-2 max-w-36 lg:max-w-40 w-full text-white bg-customMarsala rounded-md transition-all hover:bg-customMarsala-accent;
  } */

  /* ======================== */
  .linkToPageCl {
    @apply relative flex items-center justify-center px-2 py-2 max-w-36 lg:max-w-40 w-full text-white bg-customMarsala rounded-md border border-solid border-white transition-all before:content-[''] before:absolute before:inset-[4px] before:bg-customMarsala before:border before:border-solid before:border-white hover:bg-customMarsala-accent;
  }

  .linkToPageCl span {
    @apply relative z-[1];
  }

  .linkToPageCl i {
    @apply absolute inset-0 block before:content-[''] before:absolute before:top-0 before:left-[80%] before:w-[10px] before:h-1 before:bg-white before:skew-x-[325deg] before:transition-all before:duration-300 after:content-[''] after:absolute after:bottom-0 after:right-[80%] after:w-[10px] after:h-1 after:bg-white after:skew-x-[325deg] after:transition-all after:duration-300;
  }

  .laserCl {
    @apply relative before:content-[''] before:absolute before:top-0 before:left-0 before:w-full before:h-full before:bg-customLaser before:will-change-transform before:animate-laser !important;
  }

  /* before:-left-[100%] */
  /* before:w-[100%] */
  /* ======================== */

  .langBtnCl {
    @apply transition-all duration-300 px-4 py-2 w-24 h-14 flex text-white items-center justify-between rounded-md hover:bg-customMarsala-accent hover:text-white;
  }

  .langBtnMobileCl {
    @apply langBtnCl px-2 py-1 w-16 h-10;
  }

  .inputsCl {
    @apply w-full py-3 px-4 min-h-[52px] text-base border-2 border-solid border-customElement rounded-md outline-1 outline outline-transparent bg-transparent placeholder:text-transparent placeholder:bg-transparent focus:shadow-customShadowInput focus:bg-transparent focus:appearance-none cursor-pointer transition-all duration-300 ease-linear;
  }

  .label {
    @apply absolute left-4 top-1/2 -translate-y-1/2 text-s sm:text-base text-customElement bg-white px-1 rounded-md transition-all duration-300 ease-linear pointer-events-none;
    will-change: transform;
  }

  .label.lTextarea {
    @apply top-3 translate-y-0;
  }

  .errorWrapperCl {
    @apply flex items-center h-6 py-1 px-5 text-xs sm:text-s leading-5 text-customMarsala;
  }

  .checkboxCl {
    @apply sr-only;
  }

  .labelCheckCl {
    @apply flex items-center mb-3 cursor-pointer;
  }

  .iconCheckWrapCl {
    @apply flex justify-center items-center mr-4 w-7 h-6 text-white bg-white border-2 border-solid border-customElement rounded-md shadow-customShadowInput cursor-pointer transition-all group-hover:border-[3px] group-focus:border-[3px];
  }

  .iconCheckCl {
    @apply inline-block w-5 h-5 transition-all;
  }
}

@layer utilities {
  .inputsCl:focus + .label,
  .inputsCl:not(:placeholder-shown) + .label {
    @apply -translate-y-[240%] text-customElement text-s;
  }

  .inputsCl:focus + .label.lTextarea,
  .inputsCl:not(:placeholder-shown) + .label.lTextarea {
    @apply -translate-y-[140%];
  }

  .peer:checked + .labelCheckCl .iconCheckWrapCl {
    @apply bg-customElement border-[3px] shadow-none;
  }

  /* ======================== */
  .linkToPageCl:hover i::before {
    @apply w-5 left-[10%];
  }

  .linkToPageCl:hover i::after {
    @apply w-5 right-[10%];
  }

  /* ======================== */

  @keyframes swing {
    0% {
      clip-path: ellipse(30px 30px at -30px 50%);
      background-position: -30px 50%;
    }

    100% {
      clip-path: ellipse(30px 30px at calc(100% + 30px) 50%);
      background-position: calc(100% + 30px) 50%;
    }
  }

  .laser-text {
    position: relative;
    text-align: center;
    overflow: hidden;
  }

  .laser-text::before {
    content: attr(data-text);
    position: absolute;
    inset: 0;
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(255, 255, 255, 0.9) 40%,
      rgba(255, 255, 255, 1) 50%,
      rgba(255, 255, 255, 0.9) 60%,
      rgba(0, 0, 0, 0) 100%
    );
    -webkit-background-clip: text;
    color: transparent;
    background-size: 30px 100%;
    background-position: -30px 50%;
    background-repeat: no-repeat;
    clip-path: ellipse(30px 30px at -30px 50%);
    animation: swing 1s linear forwards 1.5s;
    padding: inherit;
  }

  .after-line {
    position: absolute;
    content: "";
    right: 50%;
    top: 0;
    width: 95%;
    height: 1px;
    background-color: white;
    transform: translateX(50%);

    &.marsala {
      @apply bg-customMarsala;
    }

    &.bottom {
      top: unset;
      bottom: 0;
    }
  }
}

/* .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 1000;
} */

/* .no-scroll {
  overflow: hidden;
} */
