@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes submenuEnter {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes submenuLeave {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

.animate-submenu-enter {
  animation: submenuEnter 0.5s ease-in-out forwards;
}

.animate-submenu-leave {
  animation: submenuLeave 0.5s ease-in-out forwards;
}

.scroll-containerCl::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera*/
}

.scroll-containerCl {
  scrollbar-width: none;
  /* Firefox */
}

.carousel-container {
  height: calc(100vh - 170px);
  margin-top: 170px;
}

.myModalSwiper.swiper {
  position: static !important;
}

.mySwiper .swiper-slide {
  filter: brightness(60%) !important;
}

.mySwiper .swiper-slide-thumb-active {
  filter: brightness(100%) !important;
}

.myModalSwiper .swiper-button-next {
  right: 1% !important;
  color: #fff !important;
  top: 105% !important;
}

@media screen and (min-width: 640px) {
  .myModalSwiper .swiper-button-next {
    top: 50% !important;
    right: -8% !important;
  }
}

.myModalSwiper .swiper-button-prev {
  left: 1% !important;
  color: #fff !important;
  top: 105% !important;
}

@media screen and (min-width: 640px) {
  .myModalSwiper .swiper-button-prev {
    top: 50% !important;
    left: -8% !important;
  }
}

.swiper-button-next,
.swiper-button-prev {
  color: #fff !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: rgb(88, 29, 34) !important;
}

.swiper-slide-thumb-active {
  opacity: 1 !important;
  border: 2px solid #3b82f6 !important;
  border-radius: 7px;
}

@layer base {
  ol ::marker {
    color: rgb(88, 29, 34);
  }
}

@layer components {
  .pageCl {
    @apply xl:pt-48 pt-9;
  }

  .sectionCl {
    @apply xl:pt-16 pt-9;
  }

  .mainTitleCl {
    @apply xl:text-5xl font-semibold font-roboto xl:leading-tight tracking-wider;
  }

  .titleCl {
    @apply xl:text-2xl lg:text-xl font-bold font-roboto text-center;
  }

  .subTitleCl {
    @apply xl:text-xl lg:text-lg font-semibold font-roboto uppercase;
  }

  .linkToPageCl {
    @apply flex items-center justify-center px-3 py-2 max-w-40 w-full text-white bg-customMarsala rounded-md transition-all hover:bg-customMarsala-accent;
  }

  /* ======================== */
  .submitBtn {
    @apply relative flex items-center justify-center px-3 py-2 max-w-40 w-full text-white bg-customMarsala border border-solid border-white rounded-md transition-all before:content-[''] before:absolute before:inset-[4px] before:bg-customMarsala before:border before:border-solid before:border-white;
  }

  .submitBtn span {
    @apply relative z-[1];
  }

  .submitBtn i {
    @apply absolute inset-0 block before:content-[''] before:absolute before:top-0 before:left-[80%] before:w-[10px] before:h-1 before:bg-white before:skew-x-[325deg] before:transition-all before:duration-300 after:content-[''] after:absolute after:bottom-0 after:right-[80%] after:w-[10px] after:h-1 after:bg-white after:skew-x-[325deg] after:transition-all after:duration-300;
  }

  .laserCl {
    @apply relative before:content-[''] before:absolute before:top-0 before:-left-[100%] before:w-[100%] before:h-[100%] before:bg-customLaser before:animate-laser !important;
  }
  /* ======================== */

  .langBtnCl {
    @apply transition-all duration-300 px-4 py-2 w-24 h-14 flex text-white items-center justify-between rounded-md hover:bg-customMarsala-accent hover:text-white;
  }

  .langBtnMobileCl {
    @apply langBtnCl px-2 py-1 w-16 h-10;
  }

  .inputsCl {
    @apply w-full py-3 px-4 border-2 border-solid border-customElement rounded-md outline-1 outline outline-transparent bg-transparent  placeholder:text-transparent placeholder:bg-transparent focus:border-[3px] focus:shadow-customShadowInput focus:bg-transparent focus:appearance-none cursor-pointer transition-all duration-300 ease-linear;
  }

  .label {
    @apply absolute left-4 top-1/2 -translate-y-1/2 text-customElement bg-white px-1 rounded-md transition-all duration-300 ease-linear pointer-events-none;
  }

  .label.lTextarea {
    @apply top-3 translate-y-0;
  }

  .errorWrapperCl {
    @apply flex items-center h-6 py-1 px-5 text-s leading-5 text-customMarsala;
  }

  .checkboxCl {
    @apply sr-only;
  }

  .labelCheckCl {
    @apply flex items-center mb-3 cursor-pointer;
  }

  .iconCheckWrapCl {
    @apply flex justify-center items-center mr-4 w-7 h-6 text-white bg-white border-2 border-solid border-customElement rounded-md shadow-customShadowInput cursor-pointer transition-all group-hover:border-[3px] group-focus:border-[3px];
  }

  .iconCheckCl {
    @apply inline-block w-5 h-5 transition-all;
  }
}

@layer utilities {
  .inputsCl:focus + .label,
  .inputsCl:not(:placeholder-shown) + .label {
    @apply -translate-y-[180%] text-customElement text-sm;
  }

  .inputsCl:focus + .label.lTextarea,
  .inputsCl:not(:placeholder-shown) + .label.lTextarea {
    @apply -translate-y-[110%];
  }

  .peer:checked + .labelCheckCl .iconCheckWrapCl {
    @apply bg-customElement border-[3px] shadow-none;
  }

  /* ======================== */
  .submitBtn:hover i::before {
    @apply w-5 left-[10%];
  }

  .submitBtn:hover i::after {
    @apply w-5 right-[10%];
  }
  /* ======================== */

  .after-line {
    position: absolute;
    content: "";
    right: 50%;
    bottom: 0;
    width: 95%;
    height: 1px;
    background-color: white;
    transform: translateX(50%);

    &.marsala {
      @apply bg-customMarsala;
    }
  }
}

/* .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 1000;
} */

/* .no-scroll {
  overflow: hidden;
} */
